img {
    margin-left: 10%;
    margin-top: 10%;
    /* adjust the below to control the 3D effect */
    height: 50vh;
    --x: 10px;
    --y: 20px;
    transform: perspective(1000px) rotateX(var(--_a,40deg));
    /* */
    clip-path: polygon(       
       var(--y)              var(--y),       
       calc(100% - var(--y)) var(--y),       
       calc(100% - var(--y)) calc(100% - var(--y)),       
       calc(100% - var(--y) - var(--x)) var(--_c,100%),       
       calc(var(--x) + var(--y))        var(--_c,100%),      
       var(--y)        calc(100% - var(--y))       
       );
    outline: var(--y) solid rgba(0, 0, 0, 0.4);
    outline-offset: calc(-1*var(--y));
    padding: var(--y) var(--y) 0 var(--y);
    transition: 1s;
  }

  #box1:hover img, #box4:hover img {
    --_a: 0deg;
    --_c: calc(100% - var(--y));
  }

  
  /* the below is irrelevant to the 3D effect */
  .box {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 5%;
    transition: all 0.8s ease-in-out;
  }

  #box2 img{
    height: 60vh;
  }

  #box2:hover, #box3:hover{
    top: 1%;
    transform: translateY(-20%);
    transform: translateX(-15%);
  }

  #box1, #box4{
    height: 50vh;
    z-index: 1;
    top: 25%;
    left: 12%;
    background-color: rgb(36, 31, 57);
  }
  
  @media (max-width: 900px) {
    body {
      grid-auto-flow: row;   
    }
  }
