@font-face {
	font-family: "Gochi";
	src: url(font/GochiHand-Regular.ttf);
}

@font-face {
  font-family: "Bungee";
  src: url(font/Bungee-Regular.ttf);
}

@font-face {
  font-family: "Righteous";
  src: url(font/Righteous-Regular.ttf);
}

@font-face {
  font-family: "Mogra";
  src: url(font/Mogra-Regular.ttf);
}

@font-face {
  font-family: "Daruma";
  src: url(font/DarumadropOne-Regular.ttf);
}

@font-face {
	font-family: "Oswald";
	src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
}

section { 
	text-align: center;
}

#section1{
	background-color: rgb(13, 9, 19);
}

/** Code By Webdevtrick ( https://webdevtrick.com ) **/
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);
* {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Arial, sans-serif;
	text-transform: uppercase;
}
html {
	font-size: 62.5%;
}
body {
	color: black;
	letter-spacing: .18em;
}

a {
	text-decoration: none;
	color: white;
}
ul, li {
	list-style-type: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}
.l-right {
	float: right;
}
.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	transition-delay: 1s;
}
.header-top {
	height: 50px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

h1 a {
	display: block;
	padding: 0 10px;
}
.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: rgb(123, 123, 123);
	width: 30px;
	left: 10px;
	transition: all .3s;
}
.toggle-menu i:nth-child(1) {
	top: 16px;
}
.toggle-menu i:nth-child(2) {
	top: 24px;
}
.toggle-menu i:nth-child(3) {
	top: 32px;
}
.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}
.open-menu i:nth-child(2) {
	background: transparent;
}
.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}
nav {
	height: 0;
	opacity: 0;
    box-sizing: border-box;
	background: rgba(255, 255, 255, 0);
	position: fixed;
	top: 70px;
	width: 100%;
    transition: all 1s;
}
.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}
nav ul {
	padding: 0 10px;
	display: flex;
}
nav li {
	flex: 1;
}
nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	transition: background .3s;
}
nav li a {
	background: #ff4b4b;
	margin-left: 20px;
}
nav li a:hover {
	background: #a0a0a0;
}

.text-container{
	height: 10%;
}

.text-container h1{
	font-size: 100px;
}
h2 {
	font-size: 4em;
	margin-bottom: 20px;
}
h3 {
	font-weight: 300;
	font-size: 100px;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: rgb(161, 160, 160);
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 2px solid #8f8f8f;
}
 
@media screen and (max-width: 767px) {
	nav ul {
		flex-direction: column;
	}
 
	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}
 
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}
 
	nav li a {
		padding: 3px;
	}
}

/** -------------- title -------------------**/

@font-face {
	src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
	  format("woff2");
	font-family: "Meta";
	font-style: normal;
	font-weight: normal;
  }
  
  main {
	transition: all 0.5s;
	-webkit-text-stroke: 2px #bebebeac;
	font-variation-settings: "wght" 900, "ital" 0;
	font-size: 15rem;
	text-align: left;
	color: transparent;
	font-family: "Meta", sans-serif;
	text-shadow: 10px 10px 0px #5b5b5b1d;
	cursor: pointer;
	line-height: 80%;
	letter-spacing: 10%;
  }

.title-2nd{
	font-size: 15rem;
}

.title-1st{
	font-size: 13rem;
}

.text-container{
	font-weight: 100;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 60%;
	left: 13%;
	font-size: 16px;
}

#marbles{
  min-height: 100vh;
  max-width: 200%;
  margin-top: -10%;
  margin-left: 30%;
  filter: grayscale(1);
  transition: 3s ease-in-out;
}

#marbles:hover{
	transform: scale(1.5);
	filter: brightness(1.3);
	filter: grayscale(0);
	transition: 3s ease-in-out;
}

#landing-page-name{
	font-family: "Gochi";
	color: white;
	text-transform: lowercase;
}

.name-title{
	font-family: "Gruppo";
	font-size: 4rem;
	color: rgba(192, 192, 192, 0.832);
	z-index: 1;
	position: absolute;
	top: 53.5%;
	left: 13.5%;
}

@font-face {
	font-family: "Gruppo";
	src: url(font/Gruppo-Regular.ttf);
  }


  /** **/